# Variables de entorno para la aplicación

# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=biblioteca
DB_PORT=
HTTP_PORT=3005
HTTPS_PORT=3005

# Configuración del servidor
HTTP_PORT=3005
HTTPS_PORT=3005
NODE_ENV=development

# Clave secreta para JWT
JWT_SECRET=your_jwt_secret_key

# Clave de encriptación (32 bytes en hexadecimal)
ENCRYPTION_KEY=your_32_byte_encryption_key_in_hex

# Configuración de Cloudinary (si se usa)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

GOOGLE_CLIENT_ID=
GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID_DRIVE=
GOOGLE_PRIVATE_API_KEY_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_MAIL=
GOOGLE_CLIENT_ID_DRIVE=
GOOGLE_AUTH_URI=
TOKEN_URI=
GOOGLE_AUTH_PROVIDER=
GOOGLE_CLIENT_X509_CERT_URL=
GOOGLE_UNIVERSE_DOMAIN=
GOOGLE_DRIVE_ID_FOLDER=
